@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    background-color: #005f99;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

h1, h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.card {
    background-color: rgb(51, 133, 226);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
}

label {
    font-weight: 600;
}

.dash-dropdown, .dash-radioitems {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

#data-graph, #prediksi-graph {
    margin-top: 20px;
}

.stat-card {
    background-color: #f0f8ff;
    padding: 16px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 160px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.stat-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
